/* Estilos globales */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: #7e7e95;
}

/* Layout general */
.layout {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}



.left-pane {
  flex: 1;
  min-width: 450px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
  background-color: #31352f;
  color: white;
}


.right-pane {
  flex: 1;
  display: flex;
  justify-content: center;  /* Centra horizontalmente */
  align-items: center;      /* Centra verticalmente */
  background: radial-gradient(circle at center, #0b0c1a 0%, #000011 100%);
  background-color: #000011;
  position: relative;
  overflow: hidden;
}

.right-pane > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-pane canvas {
  transform: translateX(0%); /* 💡 Desplaza el planeta hacia la izquierda */
  max-width: 120%;             /* Permite un poco de margen más allá del borde */
  max-height: 100%;
}
/* Panel derecho → tabla y chat */

/* Títulos y paneles */
.title {
  text-align: start;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: bold;
}

.panel {
  background: #1c424d;
  max-width: 90%;
  width: 100%;
  margin: 0 auto 0.75rem auto;  /* centra dentro del pane y da espacio */
  padding: 1rem;
  border-radius: 10px;
  font-size: 85%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Estilo tabla */
.satellite-list-scroll {
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
  overflow-x: visible;
  margin-bottom: 1rem;
}

.sat-table th,
.sat-table td {
  border: 1px solid #555;
  padding: 0.4rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 90%;
  color: #e6faff;
}
.sat-table thead th {
  background-color: #2a5c68;
  color: #fff;
  font-weight: bold;
}



/* estilo globo */
.globe {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Centra horizontal */
  align-items: center;     /* Centra vertical */
}
.globe canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
*/